@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap");

:root {
  --color1: #47c3b9;
  --color2: #fbe451bd;
  --color3: rgb(73, 73, 73);
}

.navbar-brand img {
  max-height: 40px;
}

.bg-light {
  background-color: var(--color2);
}

/*le backround de la page d'accueil*/

h3 {
  min-height: 115vh;
  background-image: url(../images/ban2.png);
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: grey;

  margin-top: -100px;
}

/* div qui englobe la totalité du code
*/
#global {
  font-family: "Archivo", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#programmation {
  padding-top: 120px;
}

header .slogan {
  display: flex;
  min-height: 70vh;
  align-items: flex-end;
  justify-content: flex-end;
}

.container {
  border-radius: 10px;
  background-color: var(--color2);
  background-attachment: fixed;
  min-height: 70vh;
}

/*section programmation des filmes */
.img-fluid {
  padding: 8px 5px;
  border-radius: 15px;
}

#bloc1 {
  padding: 50px 2px;
  display: block;
  width: 60%;
  position: relative;
}

#horaires {
  border-radius: 10px;
  background-image: url(../images/papier1.jpg);
  background-attachment: fixed;
  padding: 50px 50vh;
  border: var(--color2) solid;
}

#formulaire_reservation {
  border-radius: 10px;
  background-color: var(--color2);
  background-attachment: fixed;
  padding: 10px 150px;
}

#mask {
  margin-left: 25px;
}

#txt_accueil {
  background-image: url(../images/papier1.jpg);
  background-attachment: fixed;
  padding: 50px 50px;
}

#iframe {
  background-image: url(../images/papier1.jpg);
  padding: 0vh 45vh;
  background-attachment: fixed;
  margin-top: 100px;
  margin-bottom: 50px;
}

#contact_title,
#reservation_title {
  color: var(--color3);
  padding: 50px 50px;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: -50px;

  margin-bottom: -50px;
}

#formlaire_contact {
  background-color: var(--color2);
  background-attachment: fixed;
  padding: 10px 150px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.btn {
  background-color: #f1f1f1;
}
.alert-secondary {
  color: #f1f1f1f1;
  background-color: rgb(32, 34, 36);
  border-top-color: rgb(56, 60, 64);
  border-right-color: rgb(56, 60, 64);
  border-bottom-color: rgb(56, 60, 64);
  border-left-color: rgb(56, 60, 64);
  margin-top: 43px;
  margin-bottom: 25px;
}

.btn1 {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.btn2 {
  border-radius: 5px;
  background-color: #f1f1f1;
}
